@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0C0C0C !important;
}

code {
  font-family: "Outfit", sans-serif;
}

@keyframes mover {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(7px);
  }

  100% {
    transform: translateY(0px);
  }
}